<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="CommonReality Base Target">
	<locations>
		<location includeDependencyDepth="direct" includeDependencyScopes="compile,runtime" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>io.netty</groupId>
					<artifactId>netty-all</artifactId>
					<version>5.0.0.Alpha2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-api</artifactId>
					<version>1.7.26</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>